language: ruby

rvm:
  - 2.4.1

branches:
  only:
    - master
    - develop

addons:
  apt:
    packages:
      - sqlite3

before_install:
  - sqlite3 project1.db "create table users (id integer primary key, name varchar not null, balance integer)" "insert into users values(1,'andi',10000)" ""
  - gem install bundle
  - gem build project1.gemspec
  - rm Gemfile.lock

install:
  - bundle install
  - gem install project1-0.0.0.gem

script: 
  - rake test